#ghlogin-logo-github {
    font-size: 128px;
}

hr {
    border-bottom: 3px solid var(--ion-color-step-150, #d7d8da);
}

ion-input,
.invalid {
    color: "warning"
}


ion-textarea,
.invalid {
    color: "warning"
}

ion-text p,
.progress-status {
    margin-top: 15px;
}