<ion-content>
  <ion-list>
    <form [formGroup]="eventEditForm">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input
          formControlName="name"
          inputmode="text"
          clearInput
          [class.invalid]="!eventEditForm.controls.name.valid && (eventEditForm.controls.name.dirty || submitAttempt)"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Notes</ion-label>
        <ion-textarea
          formControlName="notes"
          inputmode="text"
          clearInput
          [class.invalid]="!eventEditForm.controls.notes.valid && (eventEditForm.controls.notes.dirty || submitAttempt)"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Color</ion-label>
        <ion-select
          value="color"
          formControlName="color"
          inputmode="text"
          clearInput
          [class.invalid]="!eventEditForm.controls.color.valid && (eventEditForm.controls.color.dirty || submitAttempt)"
        >
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
